body {
    margin: 0;
    background-color: rgb(44, 46, 46) !important;
    color: white !important;
}


.full-screen-container .container {
    top: 50px;
}


.navbar {
    position: fixed;
    width: 100%;
    z-index: 100;
}



.navbar #fiveG {
    font-size: large;
}


.navbar #battery {
    font-size:large;
}


.navbar-bottom {
    position: fixed;
    bottom: 0;
    width: 100%; 
}



.navbar-bottom ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: rgba(29, 27, 27, 0.5);
    margin: 0;
    margin-top: 35px;
    padding: 15px;
    text-align: center;
}


.navbar-bottom ul .home {
    padding-right: 48px;
}


.navbar-bottom ul .search {
    padding-right: 25px;;
}


.navbar ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: rgba(4, 4, 5, 0.3);
    margin: 0;
    padding: 15px;
}


.navbar #battery {
    padding-left: 15px;
}



.navbar #time {
    background-color: rgb(60, 175, 60);
    margin-right: 20vh;
    padding-left: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 15px;
    border-radius: 14px;
}


.media-player {
   position: relative;
   display: flex;
   left: 12px;
   
}

.media-player .lecture {
    position: fixed;
    bottom: 90px;
    padding-bottom: 30px;
    background-color: rgb(79, 75, 87);
    width: 95%;
    height: 70px;
    border-radius: 5px;
}


.lecture .ul-bottom {
    padding-top: 7px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.lecture .ul-bottom .li-bottom {
    float: left;
   
}

.lecture #player {
    
    padding-left: 200px;
}

.lecture #camera {
    padding-left: 25px;
}


.lecture ul li img {
    padding-top: 5px;;
    border-radius: 5px !important;
    width: 50px;
    height: 45px;
    padding-left: 7px;
    padding-right: 5px;
}


/* the vw (view-width) and vh (view-height) units are relational to the view-port size,
 where 100vw or vh is 100% of the view-port's width/height */

/* div.full-screen-container {
    /* background-color: rgb(19, 18, 18); */
    /* margin: 0;
    width: 100vw;
    min-height: 100vh;
} */ 


.carousel {
    display: grid;
    overflow-x: auto;
    grid-auto-flow: column;
    z-index: 100;
}



.media-element {
    display: grid;
    grid-template-rows: min-content;
    gap: 0px;
    margin-top:5px;
    padding: 5px;

}


.media-element > img {
    object-fit: cover;
    width: 200px;
    height: 150px;
    margin: 5px;
    border-radius: 7px;
}



.carousel::-webkit-scrollbar { 
    width: 0;
    height: 0;
} 
 
